body {
  background-color: #222;
  color: #fff;
  font-weight: 300;
}
body.homepage {
  background-image: url('./bg.jpg');
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

h1 {
  font-weight: 300;
  margin: 50px;
}

.heading {
  border-bottom: 1px solid #777;
  padding-bottom: 5px;
}
.content {
  padding: 10px 0 10px 10px;
}
.content.row {
  border-bottom: 1px solid #555;
  margin: 5px;
}

.container.page {
  padding-top: 20px;
}

.container.login {
  padding-top: 100px;
}

.container.login input,
.container.login button {
  padding: 15px;
}

.go {
  text-align: right;
}
.datePicker {
  opacity: .8;
}
.datePicker.active {
  opacity: 1;
}

.eventDataOptions .col {
  padding: 10px 30px;
}

.eventHall .hall {
  display: block;
  background: #ccc;
  margin: 30px;
  padding: 150px;
  text-align: center;
}